body {
  background-color: #498A8C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding-top: 100px;
}

input {
  border: 2px solid black;
  border-radius: 5px;
}

.content {
  width: 700px;
  height: 400px;
}

.texts {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

textarea {
  width: 200px;
  height: 20px;
  border-radius: 5px;
  border: 2px solid black;
  resize: none;
  overflow: auto;
}

button {
  height: 29px;
  background-color: #3E0E0D;
  border: 2px solid black;
  border-radius: 5px;
  color: white;
}